.multi-range {
  --range-thumb-size: 1rem;
  --range-thumb-color: tomato;
  --range-thumb-color-focus: tomato;
  --range-thumb-radius: 0.25rem;
  --range-fill-color: orange;
  --range-track-height: 4px;
  --range-focus-color: orange;
  --range-focus-size: 0px;
  --range-focus-offset: 0px;
  border: none;
  padding: 0.5rem 0;
  margin: 0.5rem;
  position: relative;
  width: calc(100% - 1rem);
}
