.range-track {
  display: none;
  width: 100%;
  height: var(--range-track-height, 2px);
  background: var(--range-track-color, grey);
  border-radius: var(--range-track-height, 2px);

  .has-js & {
    display: block;
  }
}
