.range {
  margin: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;

  &__input {
    appearance: none;
    background-color: grey;
    height: 2px;
    margin: 1rem 0;

    &:focus {
      outline: none;
    }
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: tomato;
    transition: box-shadow 0.2s ease;
    cursor: grab;
  }

  &__input::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: tomato;
    transition: box-shadow 0.2s ease;
    cursor: grab;
  }

  &__input::-ms-thumb {
    -ms-appearance: none;
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: tomato;
    transition: box-shadow 0.2s ease;
    cursor: grab;
  }

  &__input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px white, 0 0 0 4px tomato;
    cursor: grabbing;
  }
  &__input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 2px white, 0 0 0 4px tomato;
    cursor: grabbing;
  }

  &__input:focus::-ms-thumb {
    box-shadow: 0 0 0 2px white, 0 0 0 4px tomato;
    cursor: grabbing;
  }

  &__input::-moz-focus-outer {
    border: none;
  }

  &__label {
    order: -1;
  }

  .has-js & {
    display: block;
  }

  .has-js .multi-range & {
    background: transparent;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .has-js &__input {
    pointer-events: none;
    appearance: none;
    background: transparent;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .has-js &__input:focus + &__label,
  .has-js &__input:active + &__label {
    background: tomato;

    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }

  .has-js &__input:active + &__label {
    cursor: grabbing;
    &::after {
      width: 5000%;
      height: 800%;
      top: -350%;
      left: -2450%;
    }
  }

  .has-js &__input::-webkit-slider-thumb,
  .has-js &__input::-moz-range-thumb,
  .has-js &__input::-ms-thumb {
    appearance: none;
    outline: none;
    background: tomato;
    border: none;
    display: none;
  }

  .has-js &__label {
    display: block;
    width: 1rem;
    height: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rebeccapurple;
    cursor: grab;
    transition: background-color 0.2s ease;
    text-indent: -9999px;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      width: 400%;
      height: 400%;
      top: -150%;
      left: -150%;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 0.25rem);
      height: calc(100% + 0.25rem);
      left: -0.125rem;
      top: -0.125rem;
      box-shadow: 0 0 0 2px tomato;
      border-radius: 2rem;
      transform: scale(0.5);
      opacity: 0;
      transition: transform 0.2s ease, opacity 0.2s ease;
    }
  }
}
