.range {
  --range-thumb-offset: calc(var(--range-thumb-size, 1rem) / 2);
  --thumb-size: var(--range-thumb-size, 1rem);
  --thumb-radius: var(--range-thumb-radius, var(--thumb-size));
  --thumb-color: var(--range-thumb-color, black);
  --thumb-color-focus: var(--range-thumb-color-focus, black);
  --focus-size: var(--range-focus-size, 2px);
  --focus-color: var(--range-focus-color, grey);
  margin: var(--range-thumb-offset);
  padding: 0.5rem 0;
  position: relative;
  display: flex;
  flex-direction: column;

  &--clickable {
    cursor: pointer;
  }

  &__input {
    appearance: none;
    background-color: var(--range-track-color, grey);
    height: var(--range-track-height, 2px);
    margin: 1rem 0;

    &:focus {
      outline: none;
    }
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: var(--thumb-radius);
    background: var(--thumb-color);
    transition: box-shadow 0.2s ease;
    cursor: grab;
  }

  &__input::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: var(--thumb-radius);
    background: var(--thumb-color);
    transition: box-shadow 0.2s ease;
    cursor: grab;
  }

  &__input::-ms-thumb {
    -ms-appearance: none;
    border: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: var(--thumb-radius);
    background: var(--thumb-color);
    transition: box-shadow 0.2s ease;
    cursor: grab;
  }

  &__input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
    background: var(--thumb-color-focus);
    cursor: grabbing;
  }
  &__input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
    background: var(--thumb-color-focus);
    cursor: grabbing;
  }

  &__input:focus::-ms-thumb {
    box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
    background: var(--thumb-color-focus);
    cursor: grabbing;
  }

  &__input::-moz-focus-outer {
    border: none;
  }

  &__label {
    order: -1;
  }

  .has-js & {
    display: block;
  }

  .has-js .multi-range & {
    background: transparent;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .has-js &__input {
    pointer-events: none;
    appearance: none;
    background: transparent;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .has-js &__input:focus + &__label,
  .has-js &__input:active + &__label {
    background: var(--thumb-color-focus);

    &::before {
      box-shadow: 0 0 0 var(--focus-size) var(--focus-color, grey);
    }
  }

  .has-js &__input:active + &__label {
    cursor: grabbing;
  }

  .has-js &__input::-webkit-slider-thumb,
  .has-js &__input::-moz-range-thumb,
  .has-js &__input::-ms-thumb {
    appearance: none;
    outline: none;
    border: none;
    display: none;
  }

  .has-js &__label {
    display: block;
    width: var(--range-thumb-size, 1rem);
    height: var(--range-thumb-size, 1rem);
    border-radius: var(--range-thumb-radius, var(--range-thumb-size, 1rem));
    position: absolute;
    top: 50%;
    left: calc(var(--range-thumb-left) - var(--range-thumb-offset));
    transform: translateY(-50%);
    background: var(--range-thumb-color, black);
    cursor: grab;
    transition: background-color 0.2s ease;
    text-indent: -9999px;
    z-index: 10;

    &::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 4rem;
      top: calc(-2rem + 50%);
      left: calc(-2rem + 50%);
      z-index: 1;
    }

    &::before {
      --focus-offset: var(--range-focus-offset, 0rem);
      --focus-transition: var(--range-focus-transition, 0.2s ease);
      content: '';
      position: absolute;
      width: calc(100% + var(--focus-offset));
      height: calc(100% + var(--focus-offset));
      left: calc(var(--focus-offset) / -2);
      top: calc(var(--focus-offset) / -2);
      box-shadow: none;
      border-radius: var(--range-thumb-radius, var(--range-thumb-size, 1rem));
      transition: box-shadow 0.2s ease;
    }
  }
}
