.range-fill {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: var(--range-track-height, 2px);
  background-color: var(--range-fill-color, black);

  .has-js & {
    display: block;
  }
}
